.movie-grid-container {
  display: grid;
  grid-template: 1fr/ 1fr 1fr;
  position: relative;
  gap: 12px;
  margin-top: 30px;
  scroll-behavior: smooth;
}

.movie-grid-container .movie-year {
  grid-column: span 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.011em;
  text-align: left;
  margin-bottom: -5px;
}

.movie-grid-container .movie-card {
  position: relative;
  height: 222px;
  width: 100%;
}

.movie-grid-container .movie-card .movie-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.011em;
  text-align: left;
}

/* Desktop screen CSS */
@media all and (min-width: 768px) {
   .movie-grid-container {
      grid-template: auto auto/repeat(20,200px);
      overflow-x: auto;
      white-space: nowrap;
      overflow-y: hidden;
    }

    .movie-grid-container .movie-year {
      grid-column: span 20;
    }

    .movie-grid-container .movie-card {
      height: 300px;
    }

    .movie-grid-container::-webkit-scrollbar {
      display: none;
    }
    
    /* Hiding scrollbar for IE, Edge and Firefox */
    .movie-grid-container {
      scrollbar-width: none;  /* Firefox */
      -ms-overflow-style: none;  /* IE and Edge */
    }
}

/* Mobile Screen CSS */
@media all and (min-width: 320px) and (max-width: 768px) {}